*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea/
*.log
*.log.*
*.log.*.old
*.log.old
*.log.*.gz
*.log.gz
*.log.*.zip
*.log.zip
*.log.*.tar
*.log.tar
*.log.*.tar.gz
*.log.tar.gz
*.log.*.tar.bz2
*.log.tar.bz2
*.log.*.tar.xz
*.log.tar.xz
*.log.*.tar.lzma
*.log.tar.lzma
*.log.*.tar.lz
*.log.tar.lz
*.log.*.tar.lzo
*.log.tar.lzo
*.log.*.tar.lzop
*.log.tar.lzop
*.log.*.tar.lz4
*.log.tar.lz4
*.log.*.tar.zst
*.log.tar.zst
*.log.*.tar.zstd
*.log.tar.zstd
*.log.*.tar.lz
*.log.tar.lz
*.log.*.tar.lzo
*.log.tar.lzo
*.log.*.tar.lzop
*.log.tar.lzop
*.log.*.tar.lz4
*.log.tar.lz4
*.log.*.tar.zst
*.log.tar.zst
*.log.*.tar.zstd
*.log.tar.zstd 